@functions {
    public List<Pokemon> Model { get; set; }
}

<?php
    $title = "PSMD Pokédex";
    $cssFiles = array("../style.css");
?>

<h2>Pokémon</h2>

<table class="table">
    <tr>
        <th width="10%">
            ID (Decimal)
        </th>
        <th width="10%">
            ID (Hex, Big Endian)
        </th>
        <th width="10%">
            ID (Hex, Little Endian)
        </th>
        <th width="60%">
            Name
        </th>
        <th width="10%">
            Dex Number
        </th>
    </tr>

    @foreach (var item in Model) {
        var hex = item.ID.ToString("X").PadLeft(4, '0');
        @<tr>
            <td>
                @item.ID.ToString()
            </td>
            <td>
                @string.Format("0x{0}", hex)
            </td>
            <td>
                @string.Format("{0} {1}", hex.Substring(2, 2), hex.Substring(0, 2))
            </td>
            <td>
                @string.Format("<a href=\"{0}/\">{1}</a>", item.ID, item.Name)
            </td>
            <td>
                @item.DexNumber.ToString()
            </td>
        </tr>
    @}

</table>