@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        Project Pokémon Pokedex
    </h1>
    <h3>
        Pokémon Mystery Dungeon: Explorers of Sky
    </h3>
    <ul>
        <li>@Html.ActionLink("Pokémon", "Index", "EosPokemon")</li>
        <li>@Html.ActionLink("Moves", "Index", "EosMoves")</li>
        <li>@Html.ActionLink("Types", "Index", "EosTypes")</li>
    </ul>
    <h3>
        Pokémon Super Mystery Dungeon
    </h3>
    <ul>
    </ul>
    <h3>
        Pokémon Sun & Pokémon Moon
    </h3>
    <ul>
        <li>@Html.ActionLink("Pokémon", "Index", "SMPokemon")</li>
        <li>@Html.ActionLink("Egg Groups", "Index", "SMEggGroups")</li>
    </ul>
    <h3>
        Pokémon Ultra Sun & Pokémon Ultra Moon
    </h3>
    <ul>
        <li>@Html.ActionLink("Pokémon", "Index", "USUMPokemon")</li>
        <li>@Html.ActionLink("Egg Groups", "Index", "USUMEggGroups")</li>
    </ul>
</div>